<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Book : [[${book.title}]]</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('books')}"></nav>
    <main class="container py-4" th:object="${book}">
        
        <hr />

        <section class="row">
            <div class="col-12">
                <h1 class="fw-bold mb-3">[[*{title}]]</h1>
                <h2 class="mb-3">Written by: [[*{author}]]</h2>
                <h3 class="mb-3">Published by: [[*{publisher}]]</h3>
                <h4 class="mb-3">ISBN-code: [[*{isbn}]]</h4>
                <h5 class="mb-3">publication date: [[*{publicationDate}]]</h5>
                <p class="mb-3">Available copies: [[*{numberOfCopies}]]</p>
                <hr />
                <p th:text="*{synopsis}"></p>
            </div>
        </section>
        <section class="row mb-3 borrowings">
            <div class="col-12" th:unless="${book.getBorrowings().size() > 0}">
                <div class="alert alert-warning">
                    <h4>
                        There is no borrowing history for this book!
                    </h4>
                </div>
            </div>
            <div class="col-12" th:if="${book.getBorrowings().size() > 0}">
                <h2 class="fw-bold">
                    Borrowings:
                </h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>Date</th>
                            <th>Copies</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="borrowing : *{borrowings}">
                            <td>[[${borrowing.id}]]</td>
                            <td>[[${borrowing.borrowingDate}]]</td>
                            <td>[[${borrowing.returnDate}]]</td>
                            <td>[[${borrowing.notes}]]</td>
                            
                            <!-- <td>
                                <a th:href="@{/books/{id}/borrow(id=*{id})}" class="btn btn-sm btn-outline-success">
                                    <i class="fa-solid fa-book-open"></i>Borrow
                            </td> -->
                            <!-- <td>
                                <a th:href="@{/books/{id}(id=*{id})}" class="btn btn-sm btn-outline-primary">
                                    <i class="fas fa-book"></i>Details
                                </a>
                            </td> -->
                            <!-- <td>
                                <a th:href="@{/books/edit/{id}(id=${book.id})}" class="btn btn-outline-warning btn-sm">
                                    <i class="fa-regular fa-pen-to-square"></i>Edit
                                </a>
                            </td> -->
                            <!-- <td>
                                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                                    th:data-bs-target="'#delete-modal-' + ${book.id}"><i class="fa-solid fa-trash"></i>Delete</button>
                            
                                <div class="modal fade" th:id="'delete-modal-' + ${book.id}" tabindex="-1"
                                    aria-labelledby="delete-model" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                    Deleting "[[${book.title}]]"
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to dellete the book with title
                                                <strong>"[[${book.title}]]"</strong>
                                            </div>
                                            <div class="modal-footer">
                                                
                                                <button type="button" class="btn btn-outline-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                               
                                                <form class="d-inline-block" th:action="@{/books/delete/{id}(id=${book.id})}"
                                                    method="post">
                                                    <button type="submit" class="btn btn-outline-danger">
                                                        Delete
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>